    <h1>Restablecer Contraseña</h1>

    <form action="/api/users/new-password" method="POST">
        <label for="new-password">Nueva Contraseña:</label>
        <input type="password" id="new-password" name="newPassword" required>

        <label for="confirm-password">Confirmar Contraseña:</label>
        <input type="password" id="confirm-password" name="confirmPassword" required>

        <button type="submit">Confirmar</button>
    </form>